# Virtual Environment
venv/
env/
.env

# Secure Data (CRITICAL - DO NOT COMMIT)
secret.key
face_data.db

# Snapshots
capture_*.jpg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
